wf-1-idea-script.json
{
  "name": "FoodGenius · 1 · Идея + сценарий (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "foodgenius-gen",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "w1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "foodgenius-gen"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "niche", "value": "питание, здоровое питание, рецепты, похудение, ЗОЖ", "type": "string" },
            { "id": "b2", "name": "task", "value": "Выбери из трендов одну тему с максимальным виральным потенциалом и напиши под неё полный сценарий по схеме.", "type": "string" },
            { "id": "b4", "name": "research_task", "value": "Через Google Поиск найди свежие тренды и залетающие форматы коротких вертикальных видео в нише питания, ЗОЖ, похудения, рецептов. Дай 4-6 актуальных тем. Для каждой: почему сейчас на волне, реальный факт или цифра, какой угол цепляет аудиторию. Кратко и по делу.", "type": "string" },
            { "id": "b3", "name": "script_system", "value": "Ты вирусный контент-стратег в нише питания и ЗОЖ. Продвигаем FoodGenius — Telegram-бот и Mini App для планирования питания. Цель: рост охватов и подписчиков.\nТебе дают список актуальных трендов и реальных фактов. ОПИРАЙСЯ на них, не выдумывай. Выбери ОДНУ тему с максимальным виральным потенциалом, которую органично свяжешь с продуктом.\nФормат: короткое вертикальное видео (Shorts/Reels), сильный хук в первые 2 секунды, любопытство или неожиданный факт, динамика, понятная польза.\nПравила текста: активный залог, без канцелярита; без клише ('в современном мире', 'не секрет', 'давайте разберёмся'); без лишних наречий и тире ради драмы; конкретика и реальные цифры; разный ритм фраз.\nВерни СТРОГО JSON без markdown:\n{'topic': 'тема', 'angle': 'почему завирусится и на каком тренде основано', 'hook': 'текст первых 2 секунд', 'scenes': [{'visual': 'detailed English prompt for Veo, vertical 9:16, cinematic, no text on screen', 'voiceover': 'русский текст озвучки', 'onscreen': 'короткая подпись'}], 'caption': 'описание до 200 символов', 'hashtags': ['#тег'], 'cta': 'призыв перейти в бота FoodGenius'}\n3-5 сцен, общий хронометраж 20-40 секунд.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "w2",
      "name": "Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ role: 'user', parts: [{ text: 'Сегодня ' + $now.toFormat('dd.MM.yyyy') + '. ' + $('Brief').item.json.research_task + ' Ниша: ' + $('Brief').item.json.niche }] }], tools: [{ google_search: {} }] }) }}",
        "options": {}
      },
      "id": "w3",
      "name": "Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": { "id": "bTDe8ELfA3zxZPYE", "name": "Gemini API key" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $('Brief').item.json.script_system }] }, contents: [{ role: 'user', parts: [{ text: 'Актуальные тренды и факты (опирайся на них, не выдумывай):\\n' + $('Research').item.json.candidates[0].content.parts.map(p => p.text).filter(Boolean).join('\\n') + '\\n\\n' + $('Brief').item.json.task }] }], generationConfig: { temperature: 0.9, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "w4",
      "name": "Gemini script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": { "id": "bTDe8ELfA3zxZPYE", "name": "Gemini API key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.candidates[0].content.parts[0].text;\nconst clean = raw.trim().replace(/^```json/i, '').replace(/^```/, '').replace(/```$/, '').trim();\nconst script = JSON.parse(clean);\nlet sources = [];\ntry {\n  const gm = $('Research').first().json.candidates[0].groundingMetadata;\n  const chunks = (gm && gm.groundingChunks) || [];\n  sources = chunks.map(c => c.web && c.web.uri).filter(Boolean);\n} catch (e) {}\nscript.sources = sources;\nreturn [{ json: script }];"
      },
      "id": "w5",
      "name": "Parse script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Brief", "type": "main", "index": 0 }]] },
    "Brief": { "main": [[{ "node": "Research", "type": "main", "index": 0 }]] },
    "Research": { "main": [[{ "node": "Gemini script", "type": "main", "index": 0 }]] },
    "Gemini script": { "main": [[{ "node": "Parse script", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
