n8n-workflows/00-content-research.json
{
  "name": "FG · Phase1 · 00 Content Research",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "fg-research", "responseMode": "lastNode", "options": {} },
      "id": "a1", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-400, 300], "webhookId": "fg-research"
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "f1", "name": "max_items", "value": 6, "type": "number" },
          { "id": "f2", "name": "niche", "value": "питание, ЗОЖ, фитнес, бег, похудение, рецепты, меню, список покупок (продукт: Telegram-бот FoodGenius AI)", "type": "string" },
          { "id": "f3", "name": "ideas_db", "value": "38186abe-0a40-81b3-9fc1-cbc16c10e354", "type": "string" },
          { "id": "f6", "name": "signals_db", "value": "38186abe-0a40-8183-ad92-c7ac46bb48ba", "type": "string" },
          { "id": "f4", "name": "perplexity_query", "value": "Какие сейчас (последние 2 недели) тренды, инфоповоды, боли и обсуждения в РФ вокруг питания, ЗОЖ, фитнеса, бега, похудения, домашней готовки, меню на неделю и списков покупок? Дай 8-12 конкретных пунктов: суть + где есть цифры/даты. Кратко, по-русски.", "type": "string" },
          { "id": "f5", "name": "research_system", "value": "Ты — креатор-ресёрчер контента для FoodGenius AI (Telegram-бот: меню на неделю + рецепты + список покупок под спорт/вес/состав семьи; аудитория РФ).\n\nПОЗИЦИОНИРОВАНИЕ (используй обязательно): FoodGenius = планирование, а не трекинг; под тренировки, а не абстрактные ккал; одно меню на всю семью с разными порциями; список покупок собирается сам.\n4 УГЛА ОТСТРОЙКИ от конкурентов:\n1) «Хватит считать что съел — планируй что съешь» (против фото-трекеров).\n2) «Меню под твои тренировки, а не абстрактные 1800 ккал» (против дженерик-ботов).\n3) «Одно меню на всю семью с разными порциями».\n4) «Список покупок собирается сам».\n\nТебе дают: (1) свежий ресёрч трендов; (2) реально залетевшие виральные форматы конкурентов с просмотрами.\nСобери идеи контента. Каждая идея ОБЯЗАНА: (а) использовать ОДИН угол отстройки; (б) адаптировать структуру/хук одного из переданных виральных форматов конкурентов под FoodGenius.\n\nДля каждой идеи верни поля: topic; content_angle (укажи КАКОЙ угол отстройки использован); audience_segment (РОВНО ОДНО: спорт|похудение|семья|дети|занятые); food_category (РОВНО ОДНО: рецепт|меню|бюджет|ПП|meal-prep|сезонное|ошибки/мифы|демо-бота); platform_target (video|text|both); summary (1-2 предложения сути + какой виральный формат адаптирован); source_url; source_name; source_date; why_now.\nНе пиши посты — только идеи. Отсекай дубли по смыслу и темы без связи с едой/продуктом.\nВерни ТОЛЬКО JSON-массив объектов, без пояснений и markdown.", "type": "string" }
        ] },
        "options": {}
      },
      "id": "a2", "name": "Config", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-200, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar', messages: [{ role: 'system', content: 'Ты ресёрчер трендов в нише питания/ЗОЖ/фитнеса для РФ. Кратко, конкретно, с цифрами и датами где есть.' }, { role: 'user', content: $('Config').item.json.perplexity_query }], max_tokens: 900, temperature: 0.4 }) }}",
        "options": {}
      },
      "id": "a3", "name": "Perplexity", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [0, 300],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000,
      "credentials": { "httpHeaderAuth": { "id": "ds1CYMradGEohKUt", "name": "Perplexity API" } }
    },
    {
      "parameters": {
        "method": "POST", "url": "=https://api.notion.com/v1/databases/{{ $('Config').item.json.signals_db }}/query",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sorts: [{ property: 'views', direction: 'descending' }], page_size: 10 }) }}",
        "options": {}
      },
      "id": "a7", "name": "Competitor signals", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [200, 300],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1500,
      "credentials": { "httpHeaderAuth": { "id": "GOH6jHeJP5mmYapj", "name": "Notion FoodGenius (HTTP)" } }
    },
    {
      "parameters": {
        "jsCode": "const res = ($input.first().json.results) || [];\nconst lines = res.map(p => {\n  const pr = p.properties || {};\n  const title = ((pr.post||{}).title||[]).map(t=>t.plain_text).join('');\n  const views = ((pr.views||{}).number)||0;\n  return title ? `- [${views.toLocaleString('ru-RU')} просм.] ${title}` : null;\n}).filter(Boolean);\nreturn [{ json: { signals_text: lines.join('\\n') || '(нет данных конкурентов)' } }];"
      },
      "id": "a8", "name": "Signals text", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $('Config').item.json.research_system }] }, contents: [{ role: 'user', parts: [{ text: 'Свежий ресёрч (Perplexity):\\n' + $('Perplexity').item.json.choices[0].message.content + '\\n\\nВиральные форматы конкурентов (адаптируй их структуру и хуки):\\n' + $('Signals text').item.json.signals_text + '\\n\\nНиша: ' + $('Config').item.json.niche }] }], generationConfig: { temperature: 0.8, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "a4", "name": "Research agent", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 300],
      "retryOnFail": true, "maxTries": 4, "waitBetweenTries": 3000,
      "credentials": { "httpHeaderAuth": { "id": "dh36tHYBei17CBTc", "name": "Gemini API key (paid)" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.candidates[0].content.parts[0].text;\nconst clean = raw.trim().replace(/^```json/i,'').replace(/^```/,'').replace(/```$/,'').trim();\nlet ideas = JSON.parse(clean);\nif (!Array.isArray(ideas)) ideas = ideas.ideas || [ideas];\nconst max = $('Config').first().json.max_items || 6;\nideas = ideas.slice(0, max);\nconst hash = s => { s=(s||'').toLowerCase().replace(/[^0-9a-zа-яё ]/gi,'').replace(/\\s+/g,' ').trim(); let h=5381; for(let i=0;i<s.length;i++){ h=(((h<<5)+h)+s.charCodeAt(i))&0xffffffff; } return 'h'+(h>>>0).toString(16); };\nconst now = new Date().toISOString();\nconst rt = v => ({ rich_text:[{ text:{ content:String(v==null?'':v).slice(0,1900) } }] });\nconst sel = v => (v && String(v).trim()) ? ({ select:{ name:String(v).split('|')[0].split(',')[0].trim().slice(0,90) } }) : null;\nconst out = [];\nfor (const it of ideas) {\n  const props = {\n    'topic': { title:[{ text:{ content:String(it.topic||'без темы').slice(0,1900) } }] },\n    'status': { select:{ name:'Researched' } },\n    'content_angle': rt(it.content_angle),\n    'summary': rt(it.summary),\n    'why_now': rt(it.why_now),\n    'source_name': rt(it.source_name),\n    'topic_hash': rt(hash(it.topic)),\n    'duplicate_status': { select:{ name:'unchecked' } },\n    'created_at': { date:{ start: now } },\n    'updated_at': { date:{ start: now } }\n  };\n  const seg = sel(it.audience_segment); if (seg) props['audience_segment']=seg;\n  const fc = sel(it.food_category); if (fc) props['food_category']=fc;\n  const pt = sel(it.platform_target); if (pt) props['platform_target']=pt;\n  if (it.source_url && /^https?:\\/\\//.test(it.source_url)) props['source_url']={ url: String(it.source_url).slice(0,1900) };\n  out.push({ json: { topic: it.topic, notion_props: props } });\n}\nreturn out;"
      },
      "id": "a5", "name": "Build ideas", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [800, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: $('Config').first().json.ideas_db }, properties: $json.notion_props }) }}",
        "options": {}
      },
      "id": "a6", "name": "Notion create", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1000, 300],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1500,
      "credentials": { "httpHeaderAuth": { "id": "GOH6jHeJP5mmYapj", "name": "Notion FoodGenius (HTTP)" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Perplexity", "type": "main", "index": 0 }]] },
    "Perplexity": { "main": [[{ "node": "Competitor signals", "type": "main", "index": 0 }]] },
    "Competitor signals": { "main": [[{ "node": "Signals text", "type": "main", "index": 0 }]] },
    "Signals text": { "main": [[{ "node": "Research agent", "type": "main", "index": 0 }]] },
    "Research agent": { "main": [[{ "node": "Build ideas", "type": "main", "index": 0 }]] },
    "Build ideas": { "main": [[{ "node": "Notion create", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
