n8n-workflows/00b-competitor-analysis.json
{
  "name": "FG · Phase1 · 00b Competitor Analysis",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "fg-competitors", "responseMode": "lastNode", "options": {} },
      "id": "b1", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-200, 300], "webhookId": "fg-competitors"
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "id": "g1", "name": "query", "value": "пп рецепты похудение", "type": "string" },
          { "id": "g2", "name": "top_n", "value": 6, "type": "number" },
          { "id": "g3", "name": "signals_db", "value": "38186abe-0a40-8183-ad92-c7ac46bb48ba", "type": "string" }
        ] },
        "options": {}
      },
      "id": "b2", "name": "Config", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET", "url": "https://api.scrapecreators.com/v1/tiktok/search/keyword",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "query", "value": "={{ $('Config').item.json.query }}" } ] },
        "options": {}
      },
      "id": "b3", "name": "ScrapeCreators", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [200, 300],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000,
      "credentials": { "httpHeaderAuth": { "id": "hdNN3rC0W3kak6TQ", "name": "ScrapeCreators API" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst list = d.search_item_list || [];\nlet rows = list.map(it => {\n  const a = it.aweme_info || {};\n  const st = a.statistics || {};\n  const au = a.author || {};\n  return {\n    desc: (a.desc || '').trim(),\n    views: st.play_count || 0,\n    likes: st.digg_count || 0,\n    author: au.nickname || au.unique_id || '',\n    uniq: au.unique_id || '',\n    id: a.aweme_id || ''\n  };\n}).filter(r => r.desc).sort((x,y)=>y.views-x.views);\nconst top = rows.slice(0, $('Config').first().json.top_n || 6);\nconst now = new Date().toISOString();\nconst query = $('Config').first().json.query;\nconst rt = v => ({ rich_text:[{ text:{ content:String(v==null?'':v).slice(0,1900) } }] });\nreturn top.map(r => {\n  const url = (r.uniq && r.id) ? ('https://www.tiktok.com/@'+r.uniq+'/video/'+r.id) : '';\n  const props = {\n    'post': { title:[{ text:{ content:(r.desc||'(no desc)').slice(0,1900) } }] },\n    'platform': { select:{ name:'tiktok' } },\n    'query': rt(query),\n    'author': rt(r.author),\n    'views': { number: r.views },\n    'likes': { number: r.likes },\n    'collected_at': { date:{ start: now } }\n  };\n  if (/^https?:\\/\\//.test(url)) props['url'] = { url };\n  return { json: { author: r.author, views: r.views, desc: r.desc, notion_props: props } };\n});"
      },
      "id": "b4", "name": "Extract signals", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Notion-Version", "value": "2022-06-28" } ] },
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: $('Config').first().json.signals_db }, properties: $json.notion_props }) }}",
        "options": {}
      },
      "id": "b5", "name": "Notion create", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 300],
      "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1500,
      "credentials": { "httpHeaderAuth": { "id": "GOH6jHeJP5mmYapj", "name": "Notion FoodGenius (HTTP)" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "ScrapeCreators", "type": "main", "index": 0 }]] },
    "ScrapeCreators": { "main": [[{ "node": "Extract signals", "type": "main", "index": 0 }]] },
    "Extract signals": { "main": [[{ "node": "Notion create", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
