n8n-workflows/FoodGenius-Factory.json
{
  "name": "FoodGenius-Factory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fg-factory",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1",
      "name": "▶ Research (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ],
      "webhookId": "fg-factory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "sc_query",
              "value": "пп рецепты похудение меню на неделю",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "perplexity_query",
              "value": "Свежие (2 недели) тренды, боли и инфоповоды РФ вокруг питания, ЗОЖ, фитнеса, похудения, меню на неделю и списков покупок. 8-12 пунктов, кратко, с цифрами.",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "posts_db",
              "value": "38186abe-0a40-8183-88eb-ff0c97d97443",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "strategist_system",
              "value": "Ты контент-стратег полезного короткого видео про питание/ЗОЖ/фитнес для РФ. Это НЕ реклама — выбирай идеи, ценные сами по себе (совет, факт, ошибка, лайфхак, любопытство). НЕ выбирай идеи-пиарки продукта. Отстройка (один угол, нативно): планируй а не считай; еда под тренировки; одно меню на семью; список покупок без мороки. Запрещено: счёт калорий по фото, дневник питания.\nНа входе: тренды (Perplexity) + залетевшие форматы конкурентов. Возьми один залетевший формат и сделай ПОЛЕЗНУЮ идею. Оцени 1-10: trend, usefulness, viral, product_fit (насколько естественно, без навязчивости, ведёт к боту).\nВерни СТРОГО JSON: {topic, angle, audience_segment(одно), food_category(одно), trend_score, usefulness_score, viral_score, product_fit_score, why_now, based_on}. Без markdown.",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "concept_system",
              "value": "Ты автор ПОЛЕЗНОГО короткого видео (Shorts) про питание/ЗОЖ для РФ. ЭТО НЕ РЕКЛАМА. Ролик ценен сам по себе — польза или любопытство, даже если зритель не откроет бота.\nЖЁСТКИЕ ПРАВИЛА КОПИРАЙТА:\n- Хук (0-2с) и onscreen_text — это КОНКРЕТНАЯ польза/факт/цифра/интрига, НЕ слоган и НЕ обещание продукта. Хорошо: «25 г белка без курогрудки», «эта ошибка тормозит похудение», «3 ужина из остатков». ЗАПРЕЩЕНО: «FoodGenius соберёт меню», «твой личный шеф», «попробуй/жми/успей».\n- Продукт FoodGenius — ОДИН раз, мягко, в конце, как органичная подсказка («если лень планировать самому — это умеет бесплатный бот, ссылка в описании»). Без продающих восклицаний.\n- Тон живой, разговорный, без канцелярита и клише. Реальная польза в каждой сцене (конкретные продукты, цифры, шаги).\nДля футажа используем РЕАЛЬНЫЙ сток (Pexels): для каждой сцены дай footage_query — короткий запрос НА АНГЛИЙСКОМ под реальное видео (напр. 'healthy meal prep bowls', 'person running morning', 'chopping vegetables closeup').\nВерни СТРОГО JSON: {hook_text(рус, польза/интрига), music_mood, scenes:[{dur, footage_query(EN), onscreen_text(рус, польза НЕ реклама), voiceover_part(рус)}], caption(рус, нативный, польза + мягкая ссылка), hashtags:[#], cta(мягкий)}. 3-5 сцен. Без markdown.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar', messages: [{ role: 'system', content: 'Ресёрчер трендов питания/ЗОЖ/фитнеса РФ. Кратко, с цифрами.' }, { role: 'user', content: $('Config').item.json.perplexity_query }], max_tokens: 800, temperature: 0.4 }) }}",
        "options": {}
      },
      "id": "f3",
      "name": "Perplexity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ds1CYMradGEohKUt",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.scrapecreators.com/v1/tiktok/search/keyword",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Config').item.json.sc_query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4",
      "name": "ScrapeCreators",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hdNN3rC0W3kak6TQ",
          "name": "ScrapeCreators API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sc = $('ScrapeCreators').first().json || {};\nconst list = (sc.search_item_list||[]).map(it=>{const a=it.aweme_info||{};return {d:(a.desc||'').trim(),v:(a.statistics||{}).play_count||0};}).filter(x=>x.d).sort((a,b)=>b.v-a.v).slice(0,8);\nconst signals = list.map((r,i)=>`${i+1}. [${r.v.toLocaleString('ru-RU')}] ${r.d}`).join('\\n') || '(нет данных)';\nlet trends='(нет)';\ntry{ trends = $('Perplexity').first().json.choices[0].message.content; }catch(e){}\nreturn [{ json: { signals_text: signals, trends_text: trends } }];"
      },
      "id": "f5",
      "name": "Research text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $('Config').item.json.strategist_system }] }, contents: [{ role: 'user', parts: [{ text: 'Свежие тренды:\\n' + $json.trends_text + '\\n\\nВиральные форматы конкурентов:\\n' + $json.signals_text }] }], generationConfig: { temperature: 0.8, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "f6",
      "name": "Strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        200
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw=$input.first().json.candidates[0].content.parts[0].text;\nconst idea=JSON.parse(raw.trim().replace(/^```json/i,'').replace(/^```/,'').replace(/```$/,'').trim());\nconst t=+idea.trend_score||0,u=+idea.usefulness_score||0,v=+idea.viral_score||0,pf=+idea.product_fit_score||0;\nidea.total=+(t*0.2+u*0.3+v*0.25+pf*0.25).toFixed(2);\nconst s=(idea.topic||'').toLowerCase().replace(/[^0-9a-zа-яё ]/gi,'').replace(/\\s+/g,' ').trim();\nlet h=5381; for(let i=0;i<s.length;i++){h=(((h<<5)+h)+s.charCodeAt(i))&0xffffffff;}\nidea.topic_hash='h'+(h>>>0).toString(16);\nidea.start_code='YT'+(h>>>0).toString(16).toUpperCase().slice(0,6);\nreturn [{ json: idea }];"
      },
      "id": "f7",
      "name": "Parse idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $('Config').item.json.concept_system }] }, contents: [{ role: 'user', parts: [{ text: 'Идея: ' + JSON.stringify({ topic: $json.topic, angle: $json.angle, audience_segment: $json.audience_segment, food_category: $json.food_category }) }] }], generationConfig: { temperature: 0.9, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "f8",
      "name": "Concept",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const idea=$('Parse idea').first().json;\nconst raw=$input.first().json.candidates[0].content.parts[0].text;\nconst concept=JSON.parse(raw.trim().replace(/^```json/i,'').replace(/^```/,'').replace(/```$/,'').trim());\nconst rt=v=>({rich_text:[{text:{content:String(v==null?'':v).slice(0,1900)}}]});\nconst cjson=JSON.stringify(concept);\nconst chunks=[]; for(let i=0;i<cjson.length;i+=1900){ chunks.push({text:{content:cjson.slice(i,i+1900)}}); }\nconst link='https://t.me/foodgenius_ai_bot?start=ref_'+idea.start_code;\nconst caption=(concept.caption||idea.topic)+'\\n\\n'+(concept.cta||'')+' '+link;\nconst props={\n  'title':{title:[{text:{content:String(idea.topic||'без темы').slice(0,1900)}}]},\n  'status':{select:{name:'Needs Review'}},\n  'platform':{select:{name:'youtube'}},\n  'content_format':rt('video/shorts'),\n  'post_text':rt(concept.hook_text||''),\n  'final_text':{rich_text: chunks},\n  'cta':rt(concept.cta||''),\n  'start_code':rt(idea.start_code),\n  'target_audience':{select:{name:String(idea.audience_segment||'занятые').split('|')[0].trim()}},\n  'post_hash':rt(idea.topic_hash),\n  'created_at':{date:{start:new Date().toISOString()}},\n  'updated_at':{date:{start:new Date().toISOString()}}\n};\nreturn [{ json: { topic: idea.topic, total: idea.total, start_code: idea.start_code, caption, notion_props: props } }];"
      },
      "id": "f9",
      "name": "Build post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: $('Config').first().json.posts_db }, properties: $json.notion_props }) }}",
        "options": {}
      },
      "id": "f10",
      "name": "Notion: Needs Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GOH6jHeJP5mmYapj",
          "name": "Notion FoodGenius (HTTP)"
        }
      }
    },
    {
      "id": "v1",
      "name": "▶ Video (Schedule, Ready)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        700
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "v2",
      "name": "Get Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GOH6jHeJP5mmYapj",
          "name": "Notion FoodGenius (HTTP)"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/38186abe-0a40-8183-88eb-ff0c97d97443/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { and: [ { property:'status', select:{ equals:'Ready' } }, { property:'external_post_id', rich_text:{ is_empty:true } } ] }, page_size: 1 }) }}",
        "options": {}
      }
    },
    {
      "id": "v3",
      "name": "To item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        700
      ],
      "parameters": {
        "jsCode": "const res=($input.first().json.results)||[];\nif(!res.length){ return []; }\nconst p=res[0]; const pr=p.properties;\nconst g=(n,t)=>{const x=pr[n]||{}; if(t=='title')return (x.title||[]).map(z=>z.plain_text).join(''); if(t=='rt')return (x.rich_text||[]).map(z=>z.plain_text).join(''); return '';};\nlet concept={}; try{ concept=JSON.parse(g('final_text','rt')); }catch(e){}\nconst scenes=concept.scenes||[];\nconst veo=(scenes[0]&&scenes[0].veo_prompt)||(g('title','title')+', vertical 9:16, cinematic');\nconst title=g('title','title').slice(0,95);\nconst sc=g('start_code','rt');\nconst desc=(concept.caption||title)+'\\n\\n'+(concept.cta||'')+'\\nhttps://t.me/foodgenius_ai_bot?start=ref_'+sc+'\\n\\n'+((concept.hashtags||[]).join(' '))+' #shorts';\nreturn [{ json: { page_id:p.id, title, veo:veo, description:desc, start_code:sc } }];"
      }
    },
    {
      "id": "v4",
      "name": "Veo start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-fast-generate-001:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instances:[{ prompt: $json.veo }], parameters:{ aspectRatio:'9:16' } }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "v5",
      "name": "Started?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "v6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        700
      ],
      "webhookId": "fg-veo-wait",
      "parameters": {
        "amount": 15,
        "unit": "seconds",
        "resume": "timeInterval"
      }
    },
    {
      "id": "v7",
      "name": "Veo poll",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $('Veo start').item.json.body.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "v8",
      "name": "Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        700
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c",
              "leftValue": "={{ $json.body.done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "v9",
      "name": "Download clip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      },
      "parameters": {
        "method": "GET",
        "url": "={{ $('Veo poll').item.json.body.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "v10",
      "name": "YouTube upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1200,
        620
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "7gGpsotd7g2WLkyJ",
          "name": "YouTube skmarketing foodgeniusai"
        }
      },
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('To item').item.json.title }}",
        "regionCode": "RU",
        "categoryId": "22",
        "binaryProperty": "data",
        "options": {
          "description": "={{ $('To item').item.json.description }}",
          "privacyStatus": "unlisted"
        }
      }
    },
    {
      "id": "v11",
      "name": "Mark published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        620
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GOH6jHeJP5mmYapj",
          "name": "Notion FoodGenius (HTTP)"
        }
      },
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('To item').item.json.page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { status: { select: { name: 'Published' } }, external_post_id: { rich_text: [ { text: { content: String($('YouTube upload').item.json.uploadId || '') } } ] }, published_at: { date: { start: $now.toISO() } } } }) }}",
        "options": {}
      }
    },
    {
      "id": "v12",
      "name": "TG alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        620
      ],
      "credentials": {
        "telegramApi": {
          "id": "GQscmiSjVqXdMBEP",
          "name": "FoodGenius review bot"
        }
      },
      "parameters": {
        "chatId": "109790719",
        "text": "=✅ YouTube Shorts опубликован: {{ $('To item').item.json.title }}\nhttps://youtu.be/{{ $('YouTube upload').item.json.uploadId }}",
        "additionalFields": {}
      }
    },
    {
      "id": "v0",
      "name": "▶ Video (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        860
      ],
      "webhookId": "fg-video-run",
      "parameters": {
        "httpMethod": "POST",
        "path": "fg-video-run",
        "responseMode": "onReceived",
        "options": {}
      }
    }
  ],
  "connections": {
    "▶ Research (webhook)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        [
          {
            "node": "ScrapeCreators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapeCreators": {
      "main": [
        [
          {
            "node": "Research text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research text": {
      "main": [
        [
          {
            "node": "Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strategist": {
      "main": [
        [
          {
            "node": "Parse idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse idea": {
      "main": [
        [
          {
            "node": "Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concept": {
      "main": [
        [
          {
            "node": "Build post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build post": {
      "main": [
        [
          {
            "node": "Notion: Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready": {
      "main": [
        [
          {
            "node": "To item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To item": {
      "main": [
        [
          {
            "node": "Veo start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo start": {
      "main": [
        [
          {
            "node": "Started?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Started?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Veo poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo poll": {
      "main": [
        [
          {
            "node": "Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done?": {
      "main": [
        [
          {
            "node": "Download clip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download clip": {
      "main": [
        [
          {
            "node": "YouTube upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube upload": {
      "main": [
        [
          {
            "node": "Mark published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark published": {
      "main": [
        [
          {
            "node": "TG alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ Video (Schedule, Ready)": {
      "main": [
        [
          {
            "node": "Get Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ Video (webhook)": {
      "main": [
        [
          {
            "node": "Get Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}