n8n-workflows/FoodGenius-Factory.json
{
  "name": "FoodGenius-Factory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fg-factory",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1",
      "name": "▶ Research (webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ],
      "webhookId": "fg-factory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "sc_query",
              "value": "пп рецепты похудение меню на неделю",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "perplexity_query",
              "value": "Свежие (2 недели) тренды, боли и инфоповоды РФ вокруг питания, ЗОЖ, фитнеса, похудения, меню на неделю и списков покупок. 8-12 пунктов, кратко, с цифрами.",
              "type": "string"
            },
            {
              "id": "p3",
              "name": "posts_db",
              "value": "38186abe-0a40-8183-88eb-ff0c97d97443",
              "type": "string"
            },
            {
              "id": "p4",
              "name": "strategist_system",
              "value": "Ты контент-стратег полезного короткого видео про питание/ЗОЖ/фитнес для РФ. Это НЕ реклама — выбирай идеи, ценные сами по себе (совет, факт, ошибка, лайфхак, любопытство). НЕ выбирай идеи-пиарки продукта. Отстройка (один угол, нативно): планируй а не считай; еда под тренировки; одно меню на семью; список покупок без мороки. Запрещено: счёт калорий по фото, дневник питания.\nНа входе: тренды (Perplexity) + залетевшие форматы конкурентов. Возьми один залетевший формат и сделай ПОЛЕЗНУЮ идею. Оцени 1-10: trend, usefulness, viral, product_fit (насколько естественно, без навязчивости, ведёт к боту).\nВерни СТРОГО JSON: {topic, angle, audience_segment(одно), food_category(одно), trend_score, usefulness_score, viral_score, product_fit_score, why_now, based_on}. Без markdown.",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "concept_system",
              "value": "Ты автор ПОЛЕЗНОГО короткого видео (Shorts) про питание/ЗОЖ для РФ. ЭТО НЕ РЕКЛАМА. Ролик ценен сам по себе — польза или любопытство, даже если зритель не откроет бота.\nЖЁСТКИЕ ПРАВИЛА КОПИРАЙТА:\n- Хук (0-2с) и onscreen_text — это КОНКРЕТНАЯ польза/факт/цифра/интрига, НЕ слоган и НЕ обещание продукта. Хорошо: «25 г белка без курогрудки», «эта ошибка тормозит похудение», «3 ужина из остатков». ЗАПРЕЩЕНО: «FoodGenius соберёт меню», «твой личный шеф», «попробуй/жми/успей».\n- Продукт FoodGenius — ОДИН раз, мягко, в конце, как органичная подсказка («если лень планировать самому — это умеет бесплатный бот, ссылка в описании»). Без продающих восклицаний.\n- Тон живой, разговорный, без канцелярита и клише. Реальная польза в каждой сцене (конкретные продукты, цифры, шаги).\nДля футажа используем РЕАЛЬНЫЙ сток (Pexels): для каждой сцены дай footage_query — короткий запрос НА АНГЛИЙСКОМ под реальное видео (напр. 'healthy meal prep bowls', 'person running morning', 'chopping vegetables closeup').\nВерни СТРОГО JSON: {hook_text(рус, польза/интрига), music_mood, scenes:[{dur, footage_query(EN), onscreen_text(рус, польза НЕ реклама), voiceover_part(рус)}], caption(рус, нативный, польза + мягкая ссылка), hashtags:[#], cta(мягкий)}. 3-5 сцен. Без markdown.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar', messages: [{ role: 'system', content: 'Ресёрчер трендов питания/ЗОЖ/фитнеса РФ. Кратко, с цифрами.' }, { role: 'user', content: $('Config').item.json.perplexity_query }], max_tokens: 800, temperature: 0.4 }) }}",
        "options": {}
      },
      "id": "f3",
      "name": "Perplexity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ds1CYMradGEohKUt",
          "name": "Perplexity API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.scrapecreators.com/v1/tiktok/search/keyword",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Config').item.json.sc_query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4",
      "name": "ScrapeCreators",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hdNN3rC0W3kak6TQ",
          "name": "ScrapeCreators API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sc = $('ScrapeCreators').first().json || {};\nconst list = (sc.search_item_list||[]).map(it=>{const a=it.aweme_info||{};return {d:(a.desc||'').trim(),v:(a.statistics||{}).play_count||0};}).filter(x=>x.d).sort((a,b)=>b.v-a.v).slice(0,8);\nconst signals = list.map((r,i)=>`${i+1}. [${r.v.toLocaleString('ru-RU')}] ${r.d}`).join('\\n') || '(нет данных)';\nlet trends='(нет)';\ntry{ trends = $('Perplexity').first().json.choices[0].message.content; }catch(e){}\nreturn [{ json: { signals_text: signals, trends_text: trends } }];"
      },
      "id": "f5",
      "name": "Research text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $('Config').item.json.strategist_system }] }, contents: [{ role: 'user', parts: [{ text: 'Свежие тренды:\\n' + $json.trends_text + '\\n\\nВиральные форматы конкурентов:\\n' + $json.signals_text }] }], generationConfig: { temperature: 0.8, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "f6",
      "name": "Strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        200
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw=$input.first().json.candidates[0].content.parts[0].text;\nconst idea=JSON.parse(raw.trim().replace(/^```json/i,'').replace(/^```/,'').replace(/```$/,'').trim());\nconst t=+idea.trend_score||0,u=+idea.usefulness_score||0,v=+idea.viral_score||0,pf=+idea.product_fit_score||0;\nidea.total=+(t*0.2+u*0.3+v*0.25+pf*0.25).toFixed(2);\nconst s=(idea.topic||'').toLowerCase().replace(/[^0-9a-zа-яё ]/gi,'').replace(/\\s+/g,' ').trim();\nlet h=5381; for(let i=0;i<s.length;i++){h=(((h<<5)+h)+s.charCodeAt(i))&0xffffffff;}\nidea.topic_hash='h'+(h>>>0).toString(16);\nidea.start_code='YT'+(h>>>0).toString(16).toUpperCase().slice(0,6);\nreturn [{ json: idea }];"
      },
      "id": "f7",
      "name": "Parse idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ system_instruction: { parts: [{ text: $('Config').item.json.concept_system }] }, contents: [{ role: 'user', parts: [{ text: 'Идея: ' + JSON.stringify({ topic: $json.topic, angle: $json.angle, audience_segment: $json.audience_segment, food_category: $json.food_category }) }] }], generationConfig: { temperature: 0.9, responseMimeType: 'application/json' } }) }}",
        "options": {}
      },
      "id": "f8",
      "name": "Concept",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "dh36tHYBei17CBTc",
          "name": "Gemini API key (paid)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const idea=$('Parse idea').first().json;\nconst raw=$input.first().json.candidates[0].content.parts[0].text;\nconst concept=JSON.parse(raw.trim().replace(/^```json/i,'').replace(/^```/,'').replace(/```$/,'').trim());\nconst rt=v=>({rich_text:[{text:{content:String(v==null?'':v).slice(0,1900)}}]});\nconst cjson=JSON.stringify(concept);\nconst chunks=[]; for(let i=0;i<cjson.length;i+=1900){ chunks.push({text:{content:cjson.slice(i,i+1900)}}); }\nconst link='https://t.me/foodgenius_ai_bot?start=ref_'+idea.start_code;\nconst caption=(concept.caption||idea.topic)+'\\n\\n'+(concept.cta||'')+' '+link;\nconst props={\n  'title':{title:[{text:{content:String(idea.topic||'без темы').slice(0,1900)}}]},\n  'status':{select:{name:'Needs Review'}},\n  'platform':{select:{name:'youtube'}},\n  'content_format':rt('video/shorts'),\n  'post_text':rt(concept.hook_text||''),\n  'final_text':{rich_text: chunks},\n  'cta':rt(concept.cta||''),\n  'start_code':rt(idea.start_code),\n  'target_audience':{select:{name:String(idea.audience_segment||'занятые').split('|')[0].trim()}},\n  'post_hash':rt(idea.topic_hash),\n  'created_at':{date:{start:new Date().toISOString()}},\n  'updated_at':{date:{start:new Date().toISOString()}}\n};\nreturn [{ json: { topic: idea.topic, total: idea.total, start_code: idea.start_code, caption, notion_props: props } }];"
      },
      "id": "f9",
      "name": "Build post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: $('Config').first().json.posts_db }, properties: $json.notion_props }) }}",
        "options": {}
      },
      "id": "f10",
      "name": "Notion: Needs Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GOH6jHeJP5mmYapj",
          "name": "Notion FoodGenius (HTTP)"
        }
      }
    },
    {
      "id": "v1",
      "name": "▶ Video (Schedule, Ready)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        700
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "v2",
      "name": "Get Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GOH6jHeJP5mmYapj",
          "name": "Notion FoodGenius (HTTP)"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/38186abe-0a40-8183-88eb-ff0c97d97443/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filter: { property: 'status', select: { equals: 'Ready' } }, page_size: 1 }) }}",
        "options": {}
      }
    },
    {
      "id": "v3",
      "name": "Parse concept",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        700
      ],
      "parameters": {
        "jsCode": "const res=($input.first().json.results)||[];\nif(!res.length){return [];}\nconst p=res[0]; const pr=p.properties;\nconst g=(n,t)=>{const x=pr[n]||{}; if(t=='title')return (x.title||[]).map(z=>z.plain_text).join(''); if(t=='rt')return (x.rich_text||[]).map(z=>z.plain_text).join(''); return '';};\nif(g('external_post_id','rt')){ return []; }\nlet c={}; try{ c=JSON.parse(g('final_text','rt')); }catch(e){}\nconst scenes=(c.scenes||[]).map(s=>({footage_query:s.footage_query||'healthy food cooking', onscreen_text:s.onscreen_text||'', dur:s.dur||3.5}));\nreturn [{json:{page_id:p.id, title:g('title','title').slice(0,95), start_code:g('start_code','rt'), music_mood:(c.music_mood||'upbeat positive'), caption:(c.caption||g('title','title')), cta:(c.cta||''), scenes}}];"
      }
    },
    {
      "id": "v4",
      "name": "Split scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        700
      ],
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      }
    },
    {
      "id": "v5",
      "name": "Pexels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "sqU0kye8KiCYCCaA",
          "name": "Pexels API"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "GET",
        "url": "https://api.pexels.com/videos/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.footage_query }}"
            },
            {
              "name": "orientation",
              "value": "portrait"
            },
            {
              "name": "per_page",
              "value": "5"
            },
            {
              "name": "size",
              "value": "medium"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "v6",
      "name": "Pick clip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        700
      ],
      "parameters": {
        "jsCode": "const ress=$input.all(); const splits=$('Split scenes').all(); const scenes=[];\nfor(let i=0;i<ress.length;i++){ const d=ress[i].json||{}; const vids=d.videos||[]; let url=null;\n for(const v of vids){ let files=(v.video_files||[]).filter(f=>f.height>f.width); files=files.filter(f=>f.height>=1000&&f.height<=1920); files.sort((a,b)=>a.height-b.height); if(files.length){url=files[files.length-1].link;break;} }\n const sc=(splits[i]||{}).json||{}; if(url) scenes.push({url, onscreen_text:sc.onscreen_text||'', dur:sc.dur||3.5}); }\nreturn [{json:{scenes}}];"
      }
    },
    {
      "id": "v7",
      "name": "Jamendo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        700
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "zAKGouuGpwe0Ux0C",
          "name": "Jamendo API"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "GET",
        "url": "https://api.jamendo.com/v3.0/tracks/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "order",
              "value": "popularity_total"
            },
            {
              "name": "vocalinstrumental",
              "value": "instrumental"
            },
            {
              "name": "audioformat",
              "value": "mp32"
            },
            {
              "name": "fuzzytags",
              "value": "={{ $('Parse concept').first().json.music_mood }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "v8",
      "name": "Build job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        700
      ],
      "parameters": {
        "jsCode": "const pc=$('Parse concept').first().json; const scenes=$('Pick clip').first().json.scenes||[];\nlet music_url=null, music_attr='';\ntry{ const tr=($input.first().json.results||[]).find(t=>t.audio); if(tr){ music_url=tr.audio; music_attr='Музыка: '+tr.name+' — '+tr.artist_name+' (Jamendo)'; } }catch(e){}\nconst job={scenes, packshot:{text:'FoodGenius', cta:(pc.cta||'Бесплатный помощник — ссылка в описании'), dur:2.5}};\nif(music_url) job.music_url=music_url;\nconst job_b64=Buffer.from(JSON.stringify(job)).toString('base64');\nconst link='https://t.me/foodgenius_ai_bot?start=ref_'+pc.start_code;\nconst description=(pc.caption||pc.title)+'\\n\\n'+(pc.cta||'')+'\\n'+link+'\\n\\n'+music_attr+'\\n#shorts';\nreturn [{json:{job_b64, title:pc.title, description, page_id:pc.page_id}}];"
      }
    },
    {
      "id": "v9",
      "name": "SSH render",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1000,
        700
      ],
      "credentials": {
        "sshPassword": {
          "id": "D1sEMbXOFTU2jtFy",
          "name": "Timeweb host SSH"
        }
      },
      "parameters": {
        "resource": "command",
        "command": "=echo '{{ $json.job_b64 }}' | base64 -d > /opt/foodgenius/render/in/job_live.json && cd /opt/foodgenius/render && python3 render_video.py in/job_live.json out/live.mp4 >/dev/null 2>&1; base64 -w0 out/live.mp4",
        "cwd": "/opt/foodgenius/render"
      }
    },
    {
      "id": "v10",
      "name": "Decode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        700
      ],
      "parameters": {
        "jsCode": "const b64=(($input.first().json.stdout)||'').trim(); if(!b64) throw new Error('empty render output');\nconst buf=Buffer.from(b64,'base64');\nconst bin=await this.helpers.prepareBinaryData(buf,'foodgenius_shorts.mp4','video/mp4');\nreturn [{json:{size:buf.length}, binary:{data:bin}}];"
      }
    },
    {
      "id": "v11",
      "name": "YouTube upload",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1400,
        700
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "7gGpsotd7g2WLkyJ",
          "name": "YouTube skmarketing foodgeniusai"
        }
      },
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Build job').item.json.title }}",
        "regionCode": "RU",
        "categoryId": "22",
        "binaryProperty": "data",
        "options": {
          "description": "={{ $('Build job').item.json.description }}",
          "privacyStatus": "unlisted"
        }
      }
    },
    {
      "id": "v12",
      "name": "Mark Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GOH6jHeJP5mmYapj",
          "name": "Notion FoodGenius (HTTP)"
        }
      },
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Build job').item.json.page_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { status: { select: { name: 'Published' } }, external_post_id: { rich_text: [ { text: { content: String($('YouTube upload').item.json.uploadId || '') } } ] }, published_at: { date: { start: new Date().toISOString() } } } }) }}",
        "options": {}
      }
    },
    {
      "id": "v13",
      "name": "TG alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "GQscmiSjVqXdMBEP",
          "name": "FoodGenius review bot"
        }
      },
      "parameters": {
        "chatId": "109790719",
        "text": "=✅ YouTube Shorts: {{ $('Build job').item.json.title }}\\nhttps://youtu.be/{{ $('YouTube upload').item.json.uploadId }}",
        "additionalFields": {}
      }
    },
    {
      "id": "vrun",
      "name": "Video run",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        950
      ],
      "webhookId": "fg-video-run",
      "parameters": {
        "httpMethod": "POST",
        "path": "fg-video-run",
        "responseMode": "onReceived",
        "options": {}
      }
    }
  ],
  "connections": {
    "▶ Research (webhook)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity": {
      "main": [
        [
          {
            "node": "ScrapeCreators",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScrapeCreators": {
      "main": [
        [
          {
            "node": "Research text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research text": {
      "main": [
        [
          {
            "node": "Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strategist": {
      "main": [
        [
          {
            "node": "Parse idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse idea": {
      "main": [
        [
          {
            "node": "Concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concept": {
      "main": [
        [
          {
            "node": "Build post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build post": {
      "main": [
        [
          {
            "node": "Notion: Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶ Video (Schedule, Ready)": {
      "main": [
        [
          {
            "node": "Get Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ready": {
      "main": [
        [
          {
            "node": "Parse concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse concept": {
      "main": [
        [
          {
            "node": "Split scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split scenes": {
      "main": [
        [
          {
            "node": "Pexels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pexels": {
      "main": [
        [
          {
            "node": "Pick clip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick clip": {
      "main": [
        [
          {
            "node": "Jamendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jamendo": {
      "main": [
        [
          {
            "node": "Build job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build job": {
      "main": [
        [
          {
            "node": "SSH render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH render": {
      "main": [
        [
          {
            "node": "Decode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode": {
      "main": [
        [
          {
            "node": "YouTube upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube upload": {
      "main": [
        [
          {
            "node": "Mark Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Published": {
      "main": [
        [
          {
            "node": "TG alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video run": {
      "main": [
        [
          {
            "node": "Get Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}